.container {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: 100px 110px 1fr;
  row-gap: 20px;
  grid-template-areas:
    "topPart topPart topPart"
    "if delete condition"
    "then . partThen"
    "else . partElse"
    "downPart downPart downPart";
  justify-items: start;
  align-items: start;
}

.topPart {
  grid-area: topPart;
}

.condition {
  grid-area: if;
}

.buttonDelete {
  grid-area: delete;
}

.conditionText {
  grid-area: condition;
}

.then {
  grid-area: then;
}

.thenPart {
  grid-area: partThen;
}

.else {
  grid-area: else;
}

.elsePart {
  grid-area: partElse;
}

.downPart {
  grid-area: downPart;
}
